.academics--title{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: map-get($font_size, large);
    font-weight: map-get($font_weight, bold);
    color: $primary-color;
}



@media(max-width: 1200px){
    .leaderboard{
        max-width: 100%;
    }
}