@mixin divStyle{
    width: 70%;
    margin: 5em auto;
    padding: 2rem;
    border-radius: 20px;;
    box-shadow: 0 0 20px 8px #d0d0d0;
}

@mixin containerStyle{
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 40px;
    text-align: center;

    @media only screen and (min-width: 600px) {
        & {
            grid-template-columns: 1fr 1fr;
        }  
    }

    @media only screen and (min-width: 900px) {
        & {
            grid-template-columns: 1fr 1fr 1fr 1fr ;
        }
    }
}

.descriptionContainer{

    .leetcode_description{
        @include divStyle();
        margin-top: 10em;

        .leetcode--title{
            font-size: 50px;
            text-align: center;
            font-weight: bolder;
            margin-bottom: 1.5rem;
            color: $primary-color;
            width: 100%;
        }
      
          .leetcode--body{
            line-height: 4ch;
            font-size: larger;
        }
    }

    .roadmap--container{
        margin-top: 10rem;

        .roadmap--title{
            text-align: center;
            font-size: 60px;
            font-weight: bolder;
            color: $primary-color;
            margin-bottom: 3rem;
        }
       
    }

    .register{
        margin: 10em;
    }
    .register--title{
        text-align: center;
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 2em;
        color: $primary-color;
    }

    .internship--title{
        font-size: 50px;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 1.5rem;
        color: $primary-color
    }
  
      .internship--body{
        line-height: 4ch;
        font-size: larger;
        font-weight: 550;
    }

    .internship_description{
        @include divStyle();
        margin: 10em auto;

        .internship--title{
            font-size: 50px;
            text-align: center;
            font-weight: bolder;
            margin-bottom: 1.5rem;
            color: $primary-color
        }
      
          .internship--body{
            line-height: 4ch;
            font-size: larger;
            font-weight: 550;
        }
    }

    .find_internships{

        &--title{
            font-size: map-get($font_size, large);
            font-weight: map-get($font_weight, bold);
            margin-bottom: 50px;
            padding-bottom: 50px;
            text-align: center;  
            color: $primary-color;
        }

        & .internship_finder{
           @include containerStyle();
           & .finder_logo .site_logo{
                object-fit: contain;
                width: 55px;
                height: 60px;
           }
           & .finder_logo .idealist{
                object-fit: contain;
                width: 300px;
                height: 50px;
           }
        }
    }

    .internship--programs{
        margin-top: 8rem;
        text-align: center;

        &--title{
            font-size: 70px;
            font-weight: 900;
            color: $primary-color;
        }

        &--list{
            list-style: none;
            line-height: 4ch;
            text-align: left;
            font-size: 30px;
            margin-top: 3rem;
            a {
                color: #000000;
                text-decoration: none;
                text-align: center;
            }

            a:hover{
                color: $primary-color;
            }
        }
    }
    
    

}