$primary-background-color: #f5f7f8;
$primary-color: #840029;
$secondary-color: #fdb913;
$text-color: black;
$font_weight: (
    bold: 800,
    medium: 400,
    light: 200
);
$font_size: (
    large: 60px,
    medium: 30px,
    small: 15px
);
$width: (
    width_1: 900px 
);